/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_list_name = 'bg-list';
$bg_list_x = 410px;
$bg_list_y = 173px;
$bg_list_offset_x = -410px;
$bg_list_offset_y = -173px;
$bg_list_width = 266px;
$bg_list_height = 2px;
$bg_list_total_width = 676px;
$bg_list_total_height = 394px;
$bg_list_image = '../../images/sprite.png';
$bg_list = 410px 173px -410px -173px 266px 2px 676px 394px '../../images/sprite.png' 'bg-list';
$bg_lists_name = 'bg-lists';
$bg_lists_x = 121px;
$bg_lists_y = 0px;
$bg_lists_offset_x = -121px;
$bg_lists_offset_y = 0px;
$bg_lists_width = 199px;
$bg_lists_height = 191px;
$bg_lists_total_width = 676px;
$bg_lists_total_height = 394px;
$bg_lists_image = '../../images/sprite.png';
$bg_lists = 121px 0px -121px 0px 199px 191px 676px 394px '../../images/sprite.png' 'bg-lists';
$button_name = 'button';
$button_x = 323px;
$button_y = 77px;
$button_offset_x = -323px;
$button_offset_y = -77px;
$button_width = 208px;
$button_height = 37px;
$button_total_width = 676px;
$button_total_height = 394px;
$button_image = '../../images/sprite.png';
$button = 323px 77px -323px -77px 208px 37px 676px 394px '../../images/sprite.png' 'button';
$buttton_send_name = 'buttton-send';
$buttton_send_x = 542px;
$buttton_send_y = 117px;
$buttton_send_offset_x = -542px;
$buttton_send_offset_y = -117px;
$buttton_send_width = 132px;
$buttton_send_height = 38px;
$buttton_send_total_width = 676px;
$buttton_send_total_height = 394px;
$buttton_send_image = '../../images/sprite.png';
$buttton_send = 542px 117px -542px -117px 132px 38px 676px 394px '../../images/sprite.png' 'buttton-send';
$check_name = 'check';
$check_x = 563px;
$check_y = 158px;
$check_offset_x = -563px;
$check_offset_y = -158px;
$check_width = 15px;
$check_height = 12px;
$check_total_width = 676px;
$check_total_height = 394px;
$check_image = '../../images/sprite.png';
$check = 563px 158px -563px -158px 15px 12px 676px 394px '../../images/sprite.png' 'check';
$close_name = 'close';
$close_x = 479px;
$close_y = 178px;
$close_offset_x = -479px;
$close_offset_y = -178px;
$close_width = 15px;
$close_height = 15px;
$close_total_width = 676px;
$close_total_height = 394px;
$close_image = '../../images/sprite.png';
$close = 479px 178px -479px -178px 15px 15px 676px 394px '../../images/sprite.png' 'close';
$cross_black_name = 'cross-black';
$cross_black_x = 384px;
$cross_black_y = 232px;
$cross_black_offset_x = -384px;
$cross_black_offset_y = -232px;
$cross_black_width = 57px;
$cross_black_height = 57px;
$cross_black_total_width = 676px;
$cross_black_total_height = 394px;
$cross_black_image = '../../images/sprite.png';
$cross_black = 384px 232px -384px -232px 57px 57px 676px 394px '../../images/sprite.png' 'cross-black';
$cross_name = 'cross';
$cross_x = 323px;
$cross_y = 232px;
$cross_offset_x = -323px;
$cross_offset_y = -232px;
$cross_width = 58px;
$cross_height = 58px;
$cross_total_width = 676px;
$cross_total_height = 394px;
$cross_image = '../../images/sprite.png';
$cross = 323px 232px -323px -232px 58px 58px 676px 394px '../../images/sprite.png' 'cross';
$email_name = 'email';
$email_x = 623px;
$email_y = 77px;
$email_offset_x = -623px;
$email_offset_y = -77px;
$email_width = 28px;
$email_height = 18px;
$email_total_width = 676px;
$email_total_height = 394px;
$email_image = '../../images/sprite.png';
$email = 623px 77px -623px -77px 28px 18px 676px 394px '../../images/sprite.png' 'email';
$insta_name = 'insta';
$insta_x = 534px;
$insta_y = 77px;
$insta_offset_x = -534px;
$insta_offset_y = -77px;
$insta_width = 31px;
$insta_height = 30px;
$insta_total_width = 676px;
$insta_total_height = 394px;
$insta_image = '../../images/sprite.png';
$insta = 534px 77px -534px -77px 31px 30px 676px 394px '../../images/sprite.png' 'insta';
$intresting_name = 'intresting';
$intresting_x = 323px;
$intresting_y = 117px;
$intresting_offset_x = -323px;
$intresting_offset_y = -117px;
$intresting_width = 84px;
$intresting_height = 82px;
$intresting_total_width = 676px;
$intresting_total_height = 394px;
$intresting_image = '../../images/sprite.png';
$intresting = 323px 117px -323px -117px 84px 82px 676px 394px '../../images/sprite.png' 'intresting';
$line_name = 'line';
$line_x = 323px;
$line_y = 202px;
$line_offset_x = -323px;
$line_offset_y = -202px;
$line_width = 182px;
$line_height = 27px;
$line_total_width = 676px;
$line_total_height = 394px;
$line_image = '../../images/sprite.png';
$line = 323px 202px -323px -202px 182px 27px 676px 394px '../../images/sprite.png' 'line';
$list_icon_name = 'list-icon';
$list_icon_x = 528px;
$list_icon_y = 202px;
$list_icon_offset_x = -528px;
$list_icon_offset_y = -202px;
$list_icon_width = 20px;
$list_icon_height = 20px;
$list_icon_total_width = 676px;
$list_icon_total_height = 394px;
$list_icon_image = '../../images/sprite.png';
$list_icon = 528px 202px -528px -202px 20px 20px 676px 394px '../../images/sprite.png' 'list-icon';
$location_name = 'location';
$location_x = 508px;
$location_y = 202px;
$location_offset_x = -508px;
$location_offset_y = -202px;
$location_width = 17px;
$location_height = 26px;
$location_total_width = 676px;
$location_total_height = 394px;
$location_image = '../../images/sprite.png';
$location = 508px 202px -508px -202px 17px 26px 676px 394px '../../images/sprite.png' 'location';
$mail_name = 'mail';
$mail_x = 410px;
$mail_y = 178px;
$mail_offset_x = -410px;
$mail_offset_y = -178px;
$mail_width = 26px;
$mail_height = 19px;
$mail_total_width = 676px;
$mail_total_height = 394px;
$mail_image = '../../images/sprite.png';
$mail = 410px 178px -410px -178px 26px 19px 676px 394px '../../images/sprite.png' 'mail';
$nav_1_name = 'nav-1';
$nav_1_x = 599px;
$nav_1_y = 232px;
$nav_1_offset_x = -599px;
$nav_1_offset_y = -232px;
$nav_1_width = 39px;
$nav_1_height = 39px;
$nav_1_total_width = 676px;
$nav_1_total_height = 394px;
$nav_1_image = '../../images/sprite.png';
$nav_1 = 599px 232px -599px -232px 39px 39px 676px 394px '../../images/sprite.png' 'nav-1';
$nav_2_name = 'nav-2';
$nav_2_x = 495px;
$nav_2_y = 232px;
$nav_2_offset_x = -495px;
$nav_2_offset_y = -232px;
$nav_2_width = 51px;
$nav_2_height = 40px;
$nav_2_total_width = 676px;
$nav_2_total_height = 394px;
$nav_2_image = '../../images/sprite.png';
$nav_2 = 495px 232px -495px -232px 51px 40px 676px 394px '../../images/sprite.png' 'nav-2';
$nav_3_name = 'nav-3';
$nav_3_x = 549px;
$nav_3_y = 232px;
$nav_3_offset_x = -549px;
$nav_3_offset_y = -232px;
$nav_3_width = 47px;
$nav_3_height = 40px;
$nav_3_total_width = 676px;
$nav_3_total_height = 394px;
$nav_3_image = '../../images/sprite.png';
$nav_3 = 549px 232px -549px -232px 47px 40px 676px 394px '../../images/sprite.png' 'nav-3';
$nav_4_name = 'nav-4';
$nav_4_x = 444px;
$nav_4_y = 232px;
$nav_4_offset_x = -444px;
$nav_4_offset_y = -232px;
$nav_4_width = 48px;
$nav_4_height = 48px;
$nav_4_total_width = 676px;
$nav_4_total_height = 394px;
$nav_4_image = '../../images/sprite.png';
$nav_4 = 444px 232px -444px -232px 48px 48px 676px 394px '../../images/sprite.png' 'nav-4';
$nav_bright_name = 'nav-bright';
$nav_bright_x = 0px;
$nav_bright_y = 0px;
$nav_bright_offset_x = 0px;
$nav_bright_offset_y = 0px;
$nav_bright_width = 118px;
$nav_bright_height = 394px;
$nav_bright_total_width = 676px;
$nav_bright_total_height = 394px;
$nav_bright_image = '../../images/sprite.png';
$nav_bright = 0px 0px 0px 0px 118px 394px 676px 394px '../../images/sprite.png' 'nav-bright';
$phone_h_name = 'phone-h';
$phone_h_x = 654px;
$phone_h_y = 77px;
$phone_h_offset_x = -654px;
$phone_h_offset_y = -77px;
$phone_h_width = 18px;
$phone_h_height = 18px;
$phone_h_total_width = 676px;
$phone_h_total_height = 394px;
$phone_h_image = '../../images/sprite.png';
$phone_h = 654px 77px -654px -77px 18px 18px 676px 394px '../../images/sprite.png' 'phone-h';
$phone_name = 'phone';
$phone_x = 439px;
$phone_y = 178px;
$phone_offset_x = -439px;
$phone_offset_y = -178px;
$phone_width = 18px;
$phone_height = 18px;
$phone_total_width = 676px;
$phone_total_height = 394px;
$phone_image = '../../images/sprite.png';
$phone = 439px 178px -439px -178px 18px 18px 676px 394px '../../images/sprite.png' 'phone';
$phones_name = 'phones';
$phones_x = 597px;
$phones_y = 77px;
$phones_offset_x = -597px;
$phones_offset_y = -77px;
$phones_width = 23px;
$phones_height = 26px;
$phones_total_width = 676px;
$phones_total_height = 394px;
$phones_image = '../../images/sprite.png';
$phones = 597px 77px -597px -77px 23px 26px 676px 394px '../../images/sprite.png' 'phones';
$school_name = 'school';
$school_x = 410px;
$school_y = 117px;
$school_offset_x = -410px;
$school_offset_y = -117px;
$school_width = 129px;
$school_height = 53px;
$school_total_width = 676px;
$school_total_height = 394px;
$school_image = '../../images/sprite.png';
$school = 410px 117px -410px -117px 129px 53px 676px 394px '../../images/sprite.png' 'school';
$search_name = 'search';
$search_x = 460px;
$search_y = 178px;
$search_offset_x = -460px;
$search_offset_y = -178px;
$search_width = 16px;
$search_height = 16px;
$search_total_width = 676px;
$search_total_height = 394px;
$search_image = '../../images/sprite.png';
$search = 460px 178px -460px -178px 16px 16px 676px 394px '../../images/sprite.png' 'search';
$skype_name = 'skype';
$skype_x = 568px;
$skype_y = 77px;
$skype_offset_x = -568px;
$skype_offset_y = -77px;
$skype_width = 26px;
$skype_height = 26px;
$skype_total_width = 676px;
$skype_total_height = 394px;
$skype_image = '../../images/sprite.png';
$skype = 568px 77px -568px -77px 26px 26px 676px 394px '../../images/sprite.png' 'skype';
$slider_text_name = 'slider-text';
$slider_text_x = 323px;
$slider_text_y = 0px;
$slider_text_offset_x = -323px;
$slider_text_offset_y = 0px;
$slider_text_width = 353px;
$slider_text_height = 74px;
$slider_text_total_width = 676px;
$slider_text_total_height = 394px;
$slider_text_image = '../../images/sprite.png';
$slider_text = 323px 0px -323px 0px 353px 74px 676px 394px '../../images/sprite.png' 'slider-text';
$views_name = 'views';
$views_x = 542px;
$views_y = 158px;
$views_offset_x = -542px;
$views_offset_y = -158px;
$views_width = 18px;
$views_height = 12px;
$views_total_width = 676px;
$views_total_height = 394px;
$views_image = '../../images/sprite.png';
$views = 542px 158px -542px -158px 18px 12px 676px 394px '../../images/sprite.png' 'views';
$spritesheet_width = 676px;
$spritesheet_height = 394px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $bg_list $bg_lists $button $buttton_send $check $close $cross_black $cross $email $insta $intresting $line $list_icon $location $mail $nav_1 $nav_2 $nav_3 $nav_4 $nav_bright $phone_h $phone $phones $school $search $skype $slider_text $views;
$spritesheet = 676px 394px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
