*
  psr(14px, 1.4)
  color:#000
  box-sizing:border-box
input:-moz-placeholder
  color:#000
  opacity:1
input::-moz-placeholder
  color:#000
  opacity:1
input:-ms-input-placeholder
  color:#000
  opacity:1
input::-webkit-input-placeholder
  color:#000
  opacity:1
.wrapper-subscribe
  input:-moz-placeholder
    color:#7f7f7f
    opacity:1
  input::-moz-placeholder
    color:#7f7f7f
    opacity:1
  input:-ms-input-placeholder
    color:#7f7f7f
    opacity:1
  input::-webkit-input-placeholder
    color:#7f7f7f
    opacity:1
.search-form
  .input:-moz-placeholder
    color:#adadad
    opacity:1
  input::-moz-placeholder
    color:#adadad
    opacity:1
  input:-ms-input-placeholder
    color:#adadad
    opacity:1
  input::-webkit-input-placeholder
    color:#adadad
    opacity:1
  .input:focus:-moz-placeholder
    color:#0c0c0a
  input:focus::-moz-placeholder
    color:#0c0c0a
  input:focus:-ms-input-placeholder
    color:#0c0c0a
  input:focus::-webkit-input-placeholder
    color:#0c0c0a
.recall
  input:-moz-placeholder
    color:#fff
    opacity:1
  input::-moz-placeholder
    color:#fff
    opacity:1
  input:-ms-input-placeholder
    color:#fff
    opacity:1
  input::-webkit-input-placeholder
    color:#fff
    opacity:1
textarea:-moz-placeholder
  //pr(16px, 20px)
  color:#000
  opacity:1
textarea:focus:-moz-placeholder
  color:#000
textarea::-moz-placeholder
  //pr(16px, 20px)
  color:#000
  opacity:1
textarea:focus::-moz-placeholder
  color:#000
textarea:-ms-input-placeholder
  //pr(16px, 20px)
  color:#000
  opacity:1
textarea:focus:-ms-input-placeholder
  color:#000
textarea::-webkit-input-placeholder
  color:#000
  pr(16px, 20px)
  opacity:1
textarea:focus::-webkit-input-placeholder
  color:#000
input[type="reset"]
  display:none
output
  padding:0
button
  outline:none
  &:active, &:focus
    outline:none
p
  margin:0
  padding:0
li
  list-style:none
h1, h2, h3, h4, h5, h6, ul, ol
  margin:0
  padding:0
input
  border:none
  background:none
  outline:none
button, a
  border:none
  background:none
  outline:none
body
  overflow-x:hidden
figure, figcaption
  padding:0
  margin:0
  display:block
time
  margin:0
  padding:0
dl, dt, dd
  margin:0
  padding:0
.disable-hover,
.disable-hover *
  pointer-events:none !important
textarea
  outline:none
:-webkit-full-screen iframe{
  width:100% !important
  height:100% !important
}
:-moz-full-screen {
  width:100% !important
  height:100% !important
}
:-ms-full-screen {
  width:100% !important
  height:100% !important
}