.draggable *
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
.draggable *
  cursor:move !important;
  cursor:-webkit-grab !important;
  cursor:grab !important;
.draggable.is-pointer-down *
  cursor:-webkit-grabbing !important;
  cursor:grabbing !important;
