.search-form
  input.ng-pristine.ng-invalid
    border:1px solid #adadad;
  input.ng-pristine.ng-invalid:focus
    border:1px solid #0c0c0a;
  input.ng-dirty.ng-invalid
    border:1px solid #f00 !important;
  input.ng-valid
    border:1px solid #adadad !important;
  input.ng-valid:focus
    border:1px solid #0c0c0a !important;
.wrapper-subscribe
  input.ng-pristine.ng-invalid
    border-bottom:1px solid #cab558;
  input.ng-dirty.ng-invalid
    border-bottom:1px solid #f00 !important;
  input.ng-valid
    border-bottom:1px solid #cab558 !important;