.page
  .aside
    top:90px
    margin-top:0
    .nav
      left:-13px
      > div
        border-radius:9px 0 0 9px
        box-shadow:none
        width:122px
        > ul
          &:after
            left:4px
          > li
            > a
              padding-left:0
              &:before
                top:33%
              &:after
                width:121px
              span
                padding-left:29px
                jm(11px)
                text-align:center
                top:76%
.aside
  width:312px
  height:670px
  position:absolute
  z-index:2
  top:50%
  margin-top:-302px
  &:after
    top:71px;
    left:-522px;
    content:''
    position:absolute
    z-index:-1
    background-image:url(../images/bg/sofa.png)
    background-repeat:no-repeat
    background-position:center top
    width:677px
    height:784px
  .logo
    position:relative
    z-index:0
    left:-53px
    dibt()
    border-radius:10px 0 0 10px
    text-decoration:none
    width:366px
    height:236px
    background:rgb(255, 255, 255);
    background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%)
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(223, 223, 223, 1)))
    background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%)
    background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%)
    background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%)
    background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%)
    img
      margin-left:6px
      aa(1)
  .wrapper-menus
    text-align:right
    .right-menus
      position:relative
      z-index:0
      right:-5px
      text-align:right
      dibt()
      width:199px
      .lists
        box-shadow:1px 2px 10px rgba(#000, .3)
        padding-top:22px
        sprite($bg_lists)
        border-radius:0 0 0 10px
        height:141px
        li
          position:relative
          z-index:0
          text-align:right
          margin-bottom:12px
          padding-top:5px
          &:nth-of-type(2)
            &:after, &:before
              content:''
              position:absolute
              z-index:0
            &:after
              sprite($line)
              right:0;
              top:0
              .ua-gecko &
                top:2px
            &:before
              left:-44px;
              top:17px;
              sprite($intresting)
          a
            margin-right:34px
            text-decoration:none
            color:#969088
            jdb(14px)
            text-transform:uppercase
            tn(.5s)
            position:relative
            z-index:1
            &:after
              tn(.5s)
              opacity:0
              content:''
              position:absolute
              z-index:1
              left:-10px
              top:50%
              tt(0, -50%)
              width:3px
              height:3px
              background-color:#f6f3e4
              .ua-gecko &
                top:45%
            &:hover
              color:#f6f3e4
              &:after
                opacity:1
      .tv
        padding-top:15px
        padding-left:16px
        text-align:left
        dibt()
        border-radius:0 0 0 9px
        text-decoration:none
        width:160px
        height:94px
        background:rgb(157, 25, 42);
        background:-moz-linear-gradient(top, rgba(157, 25, 42, 1) 0%, rgba(155, 20, 38, 1) 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(157, 25, 42, 1)), color-stop(100%, rgba(155, 20, 38, 1)));
        background:-webkit-linear-gradient(top, rgba(157, 25, 42, 1) 0%, rgba(155, 20, 38, 1) 100%);
        background:-o-linear-gradient(top, rgba(157, 25, 42, 1) 0%, rgba(155, 20, 38, 1) 100%)
        background:-ms-linear-gradient(top, rgba(157, 25, 42, 1) 0%, rgba(155, 20, 38, 1) 100%)
        background:linear-gradient(to bottom, rgba(157, 25, 42, 1) 0%, rgba(155, 20, 38, 1) 100%)
        box-shadow:1px 2px 10px rgba(#000, .3)
        > span
          jm(18px)
          color:#000
          position:relative
          z-index:0
          &:after
            content:''
            position:absolute
            z-index:1
            sprite($school)
            top:15px
            left:6px
      .instagram
        margin-right:15px
        dibt()
        width:68px
        height:73px
        border-radius:0 0 9px 9px
        background: rgb(43,101,140);
        background: -moz-linear-gradient(top,  rgba(43,101,140,1) 0%, rgba(19,79,118,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,101,140,1)), color-stop(100%,rgba(19,79,118,1)));
        background: -webkit-linear-gradient(top,  rgba(43,101,140,1) 0%,rgba(19,79,118,1) 100%);
        background: -o-linear-gradient(top,  rgba(43,101,140,1) 0%,rgba(19,79,118,1) 100%);
        background: -ms-linear-gradient(top,  rgba(43,101,140,1) 0%,rgba(19,79,118,1) 100%);
        background: linear-gradient(to bottom,  rgba(43,101,140,1) 0%,rgba(19,79,118,1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b658c', endColorstr='#134f76',GradientType=0 );
        position:relative
        z-index:0
        &:after
          content:''
          position:absolute
          z-index:1
          sprite($insta)
          aa(1)
.nav
    left:-9px
    text-align:left
    dibt()
    width:108px
    margin-top:-62px
    position:relative
    z-index:1
    @media screen and (max-width:1100px) and (orientation:landscape)
      margin-top:-71px
    > div
      box-shadow:1px 2px 10px rgba(#000, .3)
      width:296px
      border-radius:9px
      background-color:#eb7e09
      > h1
        jl(18px)
        color:#a6440e
        display:block
        padding:20px 0 8px 38px
        background-color:#eb7a0b
        border-radius:9px 9px 0 0
      > ul
        position:relative
        z-index:0
        &:after
          pointer-events none
          content:''
          position:absolute
          z-index:1
          sprite($nav_bright)
          top:50%
          left:0
          tt(0, -50%)
        > li
          &:last-child
            > a
              border-radius:0 0 10px 10px
              &:after
                display:none
          &:first-child
            > a
              &:before
                sprite($nav_1)
          &:nth-child(2)
            > a
              &:before
                sprite($nav_2)
          &:nth-child(3)
            > a
              &:before
                sprite($nav_3)
          &:nth-child(4)
            > a
              &:before
                sprite($nav_4)
          > a
            position:relative
            z-index:0
            padding-left:133px
            height:83px
            display:block
            text-decoration:none
            tn(.5s)
            text-transform:uppercase
            .wrapper-img
              position:absolute
              z-index:0
              top:50%
              tt(0, -50%)
              left:99%
              &:after
                content:''
                left:-33px
                top:50%
                tt(0, -50%)
                position:absolute
                z-index:1
                border:24px solid transparent;
                border-right:10px solid #fff;
              img
                border-radius:10px
                box-shadow:1px 2px 10px rgba(#000, .3)
                border:5px solid #ffffff
            &:hover
              background-color:rgba(#d35c08, .5)
              &:before
                opacity:1
            &:before
              content:''
              position:absolute
              z-index:1
              left:39px
              top:50%
              transform:translate3d(0, -50%, 0)
              opacity:.5
              tn(.5s)
            &:after
              content:''
              position:absolute
              z-index:1
              left:50%
              bottom:0
              sprite($bg_list)
              tt(-50%, 0)
            span
              margin-top:2px
              padding-right:29px
              jl(20px)
              position:absolute
              z-index:1
              top:50%
              tt(0, -50%)
              color:#fff
