@import "_preloader.styl";
@import "_aside.styl";
@import "_header.styl";
@import "./sliders/_index.styl";
@import "_form.styl";
@import "_list-articles.styl";
@import "_thank.styl";
@import "_tabs.styl";
@import "_contacts.styl";