.add-new-book {
    width: 784px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px 10px 20px 10px;
    border: 1px transparent solid;
    text-align: center;
    transition: border ease-in-out .2s;
}

.add-new-book label {
    font-size: 20px;
}

.inner-content:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.add-new-book button {
    width: 120px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #770000;
    color: #fff;
    border: 1px #000 solid;
    margin-left: 10px;
    outline: none;
}


.add-new-book button:hover {
    background-color: #fff;
    color: #770000;
    font-weight: bold;
}

.add-new-book:hover {
    border: 1px #000 solid;
}

