* {
    margin: 0 auto;
    padding: 0;
}

.container {
    /*width: 1640px;*/
    padding: 0 50px 5px 50px;
    /*border: 1px black solid;*/
    font-family: Calibri, sans-serif;
    margin: 0 auto;
}

.container:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}