.desc-of-this {
    text-transform: uppercase;

}

.input-description {
    width: 450px;
    color: #808080;
    border-bottom: 2px #808080  solid;
}

.old-title-description {
    color: #9a9a9a;
    font-size: 18px;
    margin-top: -25px;
}