footer {
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
    border-top: 1px #000 solid;
    padding: 10px 0 5px 0;
    text-align: center;
    /*height:60px;   !* Height of the footer *!*/
}

.fixed-footer {
    position:absolute;
    bottom:0;
    left: 2.5%;
}