header {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px #000 solid;
    padding: 5px 0 10px 0;
    margin-bottom: 30px;
}

header:after{
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

header p {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    /*font-weight: bold;*/
    color: #037bac;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

#edit-title-of-page {
    margin-left: 48%;
    width: 100px;
    height: 30px;
    background-color: #4294f0;
    border: none;
    color: white;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
}

#edit-title-of-page:hover {
    background-color: #fff;
    color: #4294f0;
    font-weight: bold;
    border: 1px solid #4294f0;
}

