.list-item-description {
    width: 520px;
    margin: 0 auto;
    margin-left: 15px;
    float: right;
    padding: 20px;
}

.list-item-description li {
    list-style-type: none;
}

.list-item-description li p {
    width: 300px;
    float: left;
    font-size: 20px;
    line-height: 1.5em;
}

.list-item-description .desc {
    width: 200px;
}

.list-item-description-buttons{
    margin: 240px 0 0 50px;
    clear: both;
}

.list-item-description-buttons button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    /*font-weight: bold;*/
    background-color: #fff;
    border: 1px #7f7f7f solid;
    font-family: Algerian, sans-serif;
    transition: all ease-in-out .3s;
}

.list-item-description-buttons button:hover {
    background-color: #4c70ba;
    color: #7FFFD4;
}