.list-item {
    list-style-type: none;
    width: 780px;
    margin: 0 auto;
    color: #000;
    text-shadow: 0 0 7px #de473d;
    background-color: #00BFFF;
    margin-top: 10px;
    padding: 10px;
    border: 2px #4294f0 solid;
    border-radius: 10px;
    transition: all ease-in-out .2s;
}

.list-item:hover {
    box-shadow: 0 0 20px #4294f0;
}

.list-item:first-child {
    margin-top: 0;
}

.list-item img {
    margin-left: 5px;
}

.list-item a{
    text-decoration: none;
    color:#FFF;
}
