@font-face{
  font-family:'OpenSansLightRegular';
  src:url('../fonts/opensans-light.eot');
  src:url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light.woff') format('woff'),
  url('../fonts/opensans-light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-italic.woff') format('woff'),
  url('../fonts/opensans-italic.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face{
  font-family:'jurademibold';
  src:url('../fonts/jura-demibold.eot');
  src:url('../fonts/jura-demibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jura-demibold.woff') format('woff'),
  url('../fonts/jura-demibold.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}
@font-face{
  font-family:'juralight';
  src:url('../fonts/jura-light.eot');
  src:url('../fonts/jura-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jura-light.woff') format('woff'),
  url('../fonts/jura-light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'juramedium';
  src: url('../fonts/jura-medium.eot');
  src: url('../fonts/jura-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jura-medium.woff') format('woff'),
  url('../fonts/jura-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'sansationbold_italic';
  src:url('../fonts/sansation_bold_italic.eot');
  src:url('../fonts/sansation_bold_italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sansation_bold_italic.woff') format('woff'),
  url('../fonts/sansation_bold_italic.ttf') format('truetype');
  font-weight:bold;
}
@font-face{
  font-family:'sansation_lightlight_italic';
  src:url('../fonts/sansation_light_italic.eot');
  src:url('../fonts/sansation_light_italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sansation_light_italic.woff') format('woff'),
  url('../fonts/sansation_light_italic.ttf') format('truetype');
  font-weight:normal;
}